/* COMMON MIXINS ie. Reusable across sites */
/* CUSTOM SPV2 mixins*/
/* LAYOUT */
/*COLOUR*/
/* For testing colour palette

.colour1 { background: $colour-primary;}
.colour2 {background:$colour-shade1;}
.colour3 {background:$colour-shade2;}
.colour4 {background:$colour-shade3;}
.colour6 {background:$colour-cta;}

*/
/* LINKS */
@font-face {
  font-family: 'Spodv2';
  src: url("../fonts/spodv2.eot");
  src: url("../fonts/spodv2.eot?#iefix") format("embedded-opentype"), url("../fonts/spodv2.woff") format("woff"), url("../fonts/spodv2.ttf") format("truetype"), url("../fonts/spodv2.svg#spodv2regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/custom/_typography.scss */
body {
  font-family: 'open sans', serif;
}

/* line 4, ../sass/custom/_typography.scss */
ul {
  padding-left: 20px;
}

/* line 7, ../sass/custom/_typography.scss */
p, li, blockquote {
  line-height: 1.3em;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 11, ../sass/custom/_typography.scss */
blockquote {
  padding-left: 70px !important;
}

/* line 14, ../sass/custom/_typography.scss */
li {
  margin-bottom: 6px;
}

/* line 17, ../sass/custom/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 20px 0 20px 0;
  line-height: 1em;
}

/* line 22, ../sass/custom/_typography.scss */
h1 {
  margin-top: 0;
}

/* line 24, ../sass/custom/_typography.scss */
h3 {
  font-size: 20px;
  font-size: 2rem;
  margin-top: 40px;
  color: #d96d00;
}
@media (min-width: 1024px) {
  /* line 24, ../sass/custom/_typography.scss */
  h3 {
    font-size: 30px;
    font-size: 3rem;
  }
}

/* line 30, ../sass/custom/_typography.scss */
h4 {
  font-size: 22px;
  font-size: 2.2rem;
}

/* line 33, ../sass/custom/_typography.scss */
a {
  font-size: inherit;
  color: #005d8c;
  text-decoration: underline;
  -webkit-transition: background, 0.5s ease !important;
  -moz-transition: background, 0.5s ease !important;
  -o-transition: background, 0.5s ease !important;
  transition: background, 0.5s ease !important;
  -webkit-transition: color, 0.5s ease !important;
  -moz-transition: color, 0.5s ease !important;
  -o-transition: color, 0.5s ease !important;
  transition: color, 0.5s ease !important;
}
/* line 39, ../sass/custom/_typography.scss */
a:focus {
  outline: thin dotted;
}
/* line 42, ../sass/custom/_typography.scss */
a:hover, a:active {
  outline: 0;
  color: #00aaff;
  -webkit-transition: background, 0.2s ease !important;
  -moz-transition: background, 0.2s ease !important;
  -o-transition: background, 0.2s ease !important;
  transition: background, 0.2s ease !important;
  -webkit-transition: color, 0.1s ease !important;
  -moz-transition: color, 0.1s ease !important;
  -o-transition: color, 0.1s ease !important;
  transition: color, 0.1s ease !important;
}
/* line 48, ../sass/custom/_typography.scss */
a:active {
  color: #006699;
}

/* line 52, ../sass/custom/_typography.scss */
blockquote {
  position: relative;
  margin: 30px 0;
  background: #ffddbb;
  padding: 20px 20px 20px 80px;
  color: #a65300;
  line-height: 1.4em;
  border-radius: 8px;
  font-style: italic;
}
@media (min-width: 1024px) {
  /* line 52, ../sass/custom/_typography.scss */
  blockquote {
    padding-left: 100px;
  }
}
/* line 62, ../sass/custom/_typography.scss */
blockquote span {
  color: #ffddbb;
  font-size: 52px;
  font-size: 5.2rem;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #ffddbb;
  position: absolute;
  top: -22px;
}
/* line 68, ../sass/custom/_typography.scss */
blockquote span[data-icon="B"] {
  font-style: normal;
  color: rgba(166, 83, 0, 0.2);
  top: 24px;
  font-size: 26px;
  font-size: 2.6rem;
  left: 20px;
}
@media (min-width: 1024px) {
  /* line 68, ../sass/custom/_typography.scss */
  blockquote span[data-icon="B"] {
    font-size: 36px;
    font-size: 3.6rem;
    top: 28px;
  }
}

/* line 78, ../sass/custom/_typography.scss */
.callout {
  background: #ffb973;
  border: 1px solid #a65300;
  padding: 20px;
  display: inline-block;
  margin: 0;
}
/* line 84, ../sass/custom/_typography.scss */
.callout a {
  font-size: 20px;
  font-size: 2rem;
}

/* line 89, ../sass/custom/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 92, ../sass/custom/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 95, ../sass/custom/_typography.scss */
dfn {
  font-style: italic;
}

/* line 98, ../sass/custom/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 105, ../sass/custom/_typography.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 109, ../sass/custom/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 114, ../sass/custom/_typography.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 117, ../sass/custom/_typography.scss */
small {
  font-size: 80%;
}

/* line 121, ../sass/custom/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 127, ../sass/custom/_typography.scss */
sup {
  top: -0.5em;
}

/* line 130, ../sass/custom/_typography.scss */
sub {
  bottom: -0.25em;
}

/* CLEAR FIX.  Just add .group to parent off floats you want to clear */
/* line 3, ../sass/common/_toolbox.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 7, ../sass/common/_toolbox.scss */
.group:after {
  clear: both;
}

/* line 10, ../sass/common/_toolbox.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* FONT ICONS - http://css-tricks.com/examples/IconFont/ */
/* line 16, ../sass/common/_toolbox.scss */
[data-icon]:after {
  font-family: 'Spodv2';
  content: attr(data-icon);
  speak: none;
  /* Not to be trusted, but hey. */
}

/* line 21, ../sass/common/_toolbox.scss */
.before[data-icon]:before {
  font-family: 'Spodv2';
  content: "";
  speak: none;
  /* Not to be trusted, but hey. */
}

/* line 27, ../sass/common/_toolbox.scss */
.icon-alone {
  display: inline-block;
  /* Chrome 19 was weird with clickability without this */
}

/* line 31, ../sass/common/_toolbox.scss */
.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 1, ../sass/common/_grid.scss */
.grid {
  padding-left: 10px;
}
@media (min-width: 768px) {
  /* line 1, ../sass/common/_grid.scss */
  .grid {
    padding-left: 20px;
  }
}

/* line 7, ../sass/common/_grid.scss */
.grid-1 {
  width: 100%;
}

/* line 10, ../sass/common/_grid.scss */
.grid-1-4 {
  width: 25%;
}

/* line 13, ../sass/common/_grid.scss */
.grid-1-2 {
  width: 50%;
}

/* line 16, ../sass/common/_grid.scss */
.grid-1-3 {
  width: 33.33%;
}

/* line 19, ../sass/common/_grid.scss */
.grid-2-3 {
  width: 66.66%%;
}

/* line 22, ../sass/common/_grid.scss */
.grid-3-4 {
  width: 75%;
}

/* line 26, ../sass/common/_grid.scss */
[class*='grid-'] {
  float: left;
  padding-right: 10px;
}
@media (min-width: 768px) {
  /* line 26, ../sass/common/_grid.scss */
  [class*='grid-'] {
    padding-right: 20px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  /* line 26, ../sass/common/_grid.scss */
  [class*='grid-'] {
    width: 100%;
  }
  /* line 34, ../sass/common/_grid.scss */
  [class*='grid-'] .grid-1-2 {
    width: 50%;
  }
}

/* line 37, ../sass/common/_grid.scss */
#sideMobile {
  padding-right: 20px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  /* line 41, ../sass/common/_grid.scss */
  .grid-1-2 {
    width: 100%;
  }

  /* line 42, ../sass/common/_grid.scss */
  .grid-1-4 {
    width: 25%;
  }

  /* line 43, ../sass/common/_grid.scss */
  #sideMobile, #sideSocial {
    width: 100%;
  }

  /* line 44, ../sass/common/_grid.scss */
  #sideMobile {
    padding-right: 0;
  }

  /* line 45, ../sass/common/_grid.scss */
  #sidebar {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  /* line 48, ../sass/common/_grid.scss */
  .grid-1-2 {
    width: 75%;
  }

  /* line 49, ../sass/common/_grid.scss */
  #sidebar {
    width: 25%;
  }
}
@media (min-width: 1300px) {
  /* line 52, ../sass/common/_grid.scss */
  .grid-1-2 {
    width: 60%;
  }

  /* line 53, ../sass/common/_grid.scss */
  #cta {
    width: 20%;
  }

  /* line 54, ../sass/common/_grid.scss */
  #sidebar {
    width: 20%;
  }
}
/* line 56, ../sass/common/_grid.scss */
.module {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
}

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* JOHN ADDITIONS */
/* line 5, ../sass/common/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/common/_normalize.scss */
html {
  font-size: 50%;
  height: 100%;
  /* Allow DIVs to set with relative height */
}
@media (min-width: 580px) {
  /* line 11, ../sass/common/_normalize.scss */
  html {
    font-size: 62.5%;
  }
}

/* line 17, ../sass/common/_normalize.scss */
body, .main-nav {
  height: 100%;
}

/* Allow DIVs to set with relative height */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 37, ../sass/common/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 47, ../sass/common/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 56, ../sass/common/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 65, ../sass/common/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 79, ../sass/common/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
/* line 89, ../sass/common/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 103, ../sass/common/_normalize.scss */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 111, ../sass/common/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 123, ../sass/common/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 135, ../sass/common/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 146, ../sass/common/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 160, ../sass/common/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 172, ../sass/common/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 187, ../sass/common/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 197, ../sass/common/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 207, ../sass/common/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 218, ../sass/common/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 231, ../sass/common/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 240, ../sass/common/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 250, ../sass/common/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 263, ../sass/common/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/common/_fluid.scss */
img {
  max-width: 100%;
  display: block;
  /* Set to block element to blitz inline element margin whitespace */
  height: auto !important;
  /*overide image height if set in HTML*/
}

/* =============================================================

    Kraken Buttons
    Simple button styling by Chris Ferdinandi.
    Only needed if you're NOT using the Kraken boilerplate.
    http://cferdinandi.github.io/kraken/

    Free to use under the MIT License.
    http://gomakethings.com/mit/
    
 * ============================================================= */
/* line 13, ../sass/common/_kraken_buttons.scss */
.btn {
  display: inline-block;
  font-size: .882352941em;
  padding: .4em .666666667em;
  line-height: 1.333333333;
  font-weight: normal;
  background-color: #808080;
  border: .071428571em solid #808080;
  border-radius: .235294118em;
  margin-left: .3em;
  margin-bottom: .3em;
}

/* line 28, ../sass/common/_kraken_buttons.scss */
.btn,
.btn:hover,
a .btn:hover {
  color: #ffffff;
}

/* line 34, ../sass/common/_kraken_buttons.scss */
.btn:hover,
a .btn:hover,
.btn.active {
  background-color: #595959;
  border-color: #595959;
  text-decoration: none;
}

/* =============================================================

    Social Sharing v1.1
    Social sharing links and buttons without the bloat by Chris Ferdinandi.
    http://gomakethings.com

    Free to use under the MIT License.
    http://gomakethings.com/mit/

 * ============================================================= */
/*  Twitter button color */
/* line 13, ../sass/common/_social_sharing.scss */
.btn-tweet {
  background-color: #41b7d8;
  border-color: #41b7d8;
}

/*  Twitter button color on hover */
/* line 20, ../sass/common/_social_sharing.scss */
.btn-tweet:hover,
a .btn-tweet:hover {
  background-color: #3697b2;
  border-color: #3697b2;
}

/*  Facebook button color */
/* line 26, ../sass/common/_social_sharing.scss */
.btn-facebook {
  background-color: #3b5997;
  border-color: #3b5997;
}

/*  Facebook button color on hover */
/* line 33, ../sass/common/_social_sharing.scss */
.btn-facebook:hover,
a .btn-facebook:hover {
  background-color: #2c4370;
  border-color: #2c4370;
}

/*  Google button color */
/* line 39, ../sass/common/_social_sharing.scss */
.btn-google {
  background-color: #d64937;
  border-color: #d64937;
}

/*  Facebook button color on hover */
/* line 46, ../sass/common/_social_sharing.scss */
.btn-google:hover,
a .btn-google:hover {
  background-color: #b03d2e;
  border-color: #b03d2e;
}

/*  LinkedIn button color */
/* line 52, ../sass/common/_social_sharing.scss */
.btn-linkedin {
  background-color: #0073b2;
  border-color: #0073b2;
}

/*  LinkedIn button color on hover */
/* line 59, ../sass/common/_social_sharing.scss */
.btn-linkedin:hover,
a .btn-linkedin:hover {
  background-color: #005b8c;
  border-color: #005b8c;
}

/*  Pinterest button color */
/* line 65, ../sass/common/_social_sharing.scss */
.btn-pinterest {
  background-color: #cb2027;
  border-color: #cb2027;
}

/*  Pinterest button color on hover */
/* line 72, ../sass/common/_social_sharing.scss */
.btn-pinterest:hover,
a .btn-pinterest:hover {
  background-color: #a61a20;
  border-color: #a61a20;
}

/** NO LONGER USED.  SAVED FOR FUTURE REFERENCE THO **/
/* line 3, ../sass/custom/_module-headers.scss */
.partner {
  background: #000;
}
/* line 5, ../sass/custom/_module-headers.scss */
.partner:before {
  content: " ";
  background: #333333;
  display: block;
  position: absolute;
  width: 100%;
  height: 17px;
  top: 0;
  left: 0;
}
/* line 8, ../sass/custom/_module-headers.scss */
.partner:after {
  content: "Partner";
  position: absolute;
  top: 4px;
  left: 20px;
  text-transform: uppercase;
  line-height: 0.7em;
  font-size: 11px;
  color: #fff;
}

/* line 15, ../sass/custom/_module-headers.scss */
.archives:before {
  content: " ";
  background: #ffaa00;
  display: block;
  position: absolute;
  width: 100%;
  height: 17px;
  top: 0;
  left: 0;
}
/* line 18, ../sass/custom/_module-headers.scss */
.archives:after {
  content: "Archives";
  position: absolute;
  top: 4px;
  left: 20px;
  text-transform: uppercase;
  line-height: 0.7em;
  font-size: 11px;
  color: #fff;
}

/* line 1, ../sass/sections/_header.scss */
#logo {
  float: left;
  width: 60%;
}
@media (min-width: 1024px) {
  /* line 1, ../sass/sections/_header.scss */
  #logo {
    width: 45%;
  }
}
/* line 7, ../sass/sections/_header.scss */
#logo .tower-logo {
  text-indent: 50000px;
}

/* line 9, ../sass/sections/_header.scss */
#box-ad {
  float: right;
  padding-right: 2%;
}
@media (min-width: 1024px) {
  /* line 9, ../sass/sections/_header.scss */
  #box-ad {
    display: none;
  }
}

/* line 16, ../sass/sections/_header.scss */
#banner-ad {
  display: none;
}
@media (min-width: 1024px) {
  /* line 16, ../sass/sections/_header.scss */
  #banner-ad {
    display: inline;
    float: right;
    width: 30%;
    padding-right: 0;
  }
}
@media (min-width: 1024px) {
  /* line 16, ../sass/sections/_header.scss */
  #banner-ad {
    width: 55%;
  }
}

/* line 28, ../sass/sections/_header.scss */
.strapline {
  display: none;
  text-shadow: none;
  color: #ff8000;
  padding-left: 0;
  font-size: 18px;
  font-size: 1.8rem;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}
@media (min-width: 768px) {
  /* line 28, ../sass/sections/_header.scss */
  .strapline {
    display: block;
    line-height: 0.6em;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
  }
}
@media (min-width: 1540px) {
  /* line 28, ../sass/sections/_header.scss */
  .strapline {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 0.7em;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
  }
}

/* line 46, ../sass/sections/_header.scss */
.tower-logo {
  font-weight: normal;
  font-size: 32px;
  font-size: 3.2rem;
  padding: 0 3px 0 2px;
  color: #ff8000;
}
@media (min-width: 580px) {
  /* line 46, ../sass/sections/_header.scss */
  .tower-logo {
    font-size: 38px;
    font-size: 3.8rem;
  }
}
@media (min-width: 768px) {
  /* line 46, ../sass/sections/_header.scss */
  .tower-logo {
    padding: 0 4px 0 2px;
  }
}
@media (min-width: 1540px) {
  /* line 46, ../sass/sections/_header.scss */
  .tower-logo {
    font-size: 54px;
    font-size: 5.4rem;
  }
}

/* line 62, ../sass/sections/_header.scss */
.top-banner {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 62, ../sass/sections/_header.scss */
  .top-banner {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  /* line 62, ../sass/sections/_header.scss */
  .top-banner {
    width: 95%;
  }
}
/* line 71, ../sass/sections/_header.scss */
.top-banner img {
  float: right;
  margin-top: 12px;
  margin-bottom: 12px;
}
/* line 76, ../sass/sections/_header.scss */
.top-banner p {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
  margin: 8px 0 0 0;
  padding-left: 2%;
  font-weight: normal;
  display: inline-block;
  font-size: 38px;
  font-size: 3.8rem;
  line-height: 0.9em;
}
@media (min-width: 580px) {
  /* line 76, ../sass/sections/_header.scss */
  .top-banner p {
    font-size: 44px;
    font-size: 4.4rem;
    width: 100% !important;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
  }
}
@media (min-width: 1540px) {
  /* line 76, ../sass/sections/_header.scss */
  .top-banner p {
    font-size: 64px;
    font-size: 6.4rem;
    width: 100% !important;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
  }
}

/* line 1, ../sass/sections/_nav.scss */
nav[role="navigation"] {
  font-size: 0;
  /* inline-block fix  */
  padding: 0 10px;
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 768px) {
  /* line 1, ../sass/sections/_nav.scss */
  nav[role="navigation"] {
    padding: 0 20px;
    margin: 10px 0 20px 0;
  }
}
/* line 10, ../sass/sections/_nav.scss */
nav[role="navigation"] a {
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
  font-size: 18px;
  font-size: 1.8rem;
  width: 49.99%;
  border: 1px solid #ff8000;
  /*		&:nth-child(-n+6) {margin-bottom: $gutter;}
  		&:nth-child(odd) {margin-right: $gutter;}*/
  text-decoration: none;
  padding: 9px 0 6px 0;
  color: white;
  text-align: center;
  display: inline-block;
  /* inline-block inserts element spaces */
  text-transform: uppercase;
  text-shadow: 0px -1px 2px black;
  font-family: 'Fjalla One', sans-serif;
  background: #ff8000;
  position: relative;
  box-shadow: inset 0px 0px 3px 2px rgba(166, 83, 0, 0.7);
  z-index: 1;
  /*		&:after {
  			content: "";
  			@include background(linear-gradient(rgba(black,0.5), rgba(black, 0.0)));
  	    top: 0;
  			left: 0;
  			width: 100%;
  			position: absolute;
  			height: 50%;
  			z-index:-1;
  		}	*/
  /*		@include breakpoint (1100) {
  			margin-right: 6px;
  		}*/
}
/* line 15, ../sass/sections/_nav.scss */
nav[role="navigation"] a:nth-child(1) {
  margin-top: 10px;
}
/* line 40, ../sass/sections/_nav.scss */
nav[role="navigation"] a:hover, nav[role="navigation"] a:focus {
  background: #00aaff;
  box-shadow: inset 0px 0px 3px 2px rgba(0, 68, 102, 0.5);
  border: 1px solid #006699;
}
/* line 45, ../sass/sections/_nav.scss */
nav[role="navigation"] a:active {
  background: #0088cc;
}
/* line 56, ../sass/sections/_nav.scss */
.home nav[role="navigation"] a.home, .seasiders-podcast nav[role="navigation"] a.podcasts, .live nav[role="navigation"] a.live, .blog nav[role="navigation"] a.blogs, .subscribe nav[role="navigation"] a.subscribe, .blackpool-fc nav[role="navigation"] a.blackpool-fc, .links nav[role="navigation"] a.links, .donate nav[role="navigation"] a.donate, .about nav[role="navigation"] a.about {
  background: #006699;
}
/* line 59, ../sass/sections/_nav.scss */
nav[role="navigation"] a span {
  font-weight: normal;
  margin-right: 4px;
}
/* line 62, ../sass/sections/_nav.scss */
nav[role="navigation"] a span:active {
  text-shadow: none;
}
@media (min-width: 580px) {
  /* line 59, ../sass/sections/_nav.scss */
  nav[role="navigation"] a span {
    display: block;
    font-size: 24px;
  }
}
@media (min-width: 580px) {
  /* line 10, ../sass/sections/_nav.scss */
  nav[role="navigation"] a {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    /*			&:nth-child(-n+6) {margin-bottom: 0;}
    			&:nth-child(odd) {margin-right: 0;}
    			&:nth-child(1) {margin-bottom: $gutter/2;}
    			&.home, &.podcasts, &.live, &.contact, &.blog, &.donate, &.subscribe { margin-right:$gutter/2;}*/
    width: 25%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  /* line 10, ../sass/sections/_nav.scss */
  nav[role="navigation"] a {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    font-size: 20px;
    font-size: 2rem;
    width: 11.6%;
    margin-right: 1%;
    margin-bottom: 0 !important;
    /*&:last-child {margin-right:0;}*/
  }
  /* line 84, ../sass/sections/_nav.scss */
  nav[role="navigation"] a.about {
    margin-right: 0;
  }
}

/* line 1, ../sass/sections/_home.scss */
body {
  background: url(../images/bubbles.jpg) top;
  overflow-x: hidden;
  /*horiz scroll remove*/
}
/* line 4, ../sass/sections/_home.scss */
body a.latest {
  background: #005d8c;
}
/* line 6, ../sass/sections/_home.scss */
body a.latest:hover {
  background: #00aaff;
}
/* line 8, ../sass/sections/_home.scss */
body.wp-page h1 {
  position: static;
  margin-bottom: 0;
}

/* line 13, ../sass/sections/_home.scss */
.page-wrap {
  width: 100%;
  margin: 0 auto 20px auto;
  position: relative;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
@media (min-width: 768px) {
  /* line 13, ../sass/sections/_home.scss */
  .page-wrap {
    width: 95%;
  }
}

/* line 23, ../sass/sections/_home.scss */
footer {
  clear: both;
}

/* line 27, ../sass/sections/_home.scss */
article {
  border-bottom: 1px solid #404040;
}
/* line 29, ../sass/sections/_home.scss */
article a.more {
  background: #7b7b7b;
  border-bottom: 1px solid #222222;
  padding: 3px 1px 3px 6px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 37, ../sass/sections/_home.scss */
article a.more:hover, article a.more:focus {
  background: #00aaff;
}

/* line 42, ../sass/sections/_home.scss */
.post-meta {
  color: white;
  position: absolute;
  top: -1px;
  right: 20px;
  padding-left: 20px;
  text-transform: uppercase !important;
  font-size: 12px;
  display: block;
  position: absolute;
  width: 100%;
  height: 17px;
  top: 0;
  left: 0;
}
/* line 56, ../sass/sections/_home.scss */
.post-meta a {
  text-decoration: none;
  color: white;
}
/* line 59, ../sass/sections/_home.scss */
.post-meta a:hover {
  text-decoration: underline;
}
/* line 63, ../sass/sections/_home.scss */
.post-meta span {
  float: right;
  padding-right: 20px;
}

/* line 68, ../sass/sections/_home.scss */
.podcast .post-meta {
  background: #e67300;
}

/* line 71, ../sass/sections/_home.scss */
.audio .post-meta {
  background: #b34e00;
}

/* line 74, ../sass/sections/_home.scss */
.blog .post-meta {
  background: #e63a00;
}

/* line 77, ../sass/sections/_home.scss */
.video .post-meta {
  background: #b3002c;
}

/* line 82, ../sass/sections/_home.scss */
.post span {
  position: absolute;
  top: -1px;
  right: 20px;
  color: #FFF;
  font-size: 14px;
}

/* line 90, ../sass/sections/_home.scss */
.home-ad-block {
  padding: 40px 0 20px 20px;
}
@media (min-width: 480px) {
  /* line 90, ../sass/sections/_home.scss */
  .home-ad-block {
    padding: 40px 20px 20px 20px;
  }
}

/* line 96, ../sass/sections/_home.scss */
.padding-off {
  padding: 0;
}

@media (min-width: 1024px) {
  /* line 99, ../sass/sections/_home.scss */
  #homepage-small-ad {
    display: none;
  }
}

/* line 104, ../sass/sections/_home.scss */
#homepage-big-ad {
  display: none;
}
@media (min-width: 1024px) {
  /* line 104, ../sass/sections/_home.scss */
  #homepage-big-ad {
    display: block;
  }
}

/* line 110, ../sass/sections/_home.scss */
.listen-now {
  color: #FFF;
  background: rgba(166, 83, 0, 0.6);
  display: inline-block;
  text-decoration: none;
  position: absolute;
  top: 13%;
  left: 45%;
  padding: 6px;
  font-weight: normal;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
@media (min-width: 480px) {
  /* line 110, ../sass/sections/_home.scss */
  .listen-now {
    top: 20%;
  }
}
@media (min-width: 1024px) {
  /* line 110, ../sass/sections/_home.scss */
  .listen-now {
    top: 25%;
  }
}
/* line 127, ../sass/sections/_home.scss */
.listen-now:hover, .listen-now:active {
  color: #fff;
  background: rgba(0, 93, 140, 0.7);
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
/* line 132, ../sass/sections/_home.scss */
.listen-now span {
  margin-left: 6px;
  font-size: 20px;
  font-size: 2rem;
}
@media (min-width: 480px) {
  /* line 132, ../sass/sections/_home.scss */
  .listen-now span {
    font-size: 40px;
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  /* line 132, ../sass/sections/_home.scss */
  .listen-now span {
    font-size: 50px;
    font-size: 5rem;
  }
}

/* line 143, ../sass/sections/_home.scss */
#subscribe-home {
  margin: 10px 0 20px 0;
  background: rgba(166, 83, 0, 0.2);
  text-align: center;
}
/* line 146, ../sass/sections/_home.scss */
#subscribe-home a.apple {
  background: #3c3c3c;
}
/* line 149, ../sass/sections/_home.scss */
#subscribe-home .rss {
  background: #ff8000;
}
/* line 152, ../sass/sections/_home.scss */
#subscribe-home .facebook {
  background: #37548e;
}
/* line 155, ../sass/sections/_home.scss */
#subscribe-home .twitter {
  background: #03a6f1;
}
@media (min-width: 768px) {
  /* line 143, ../sass/sections/_home.scss */
  #subscribe-home {
    display: none;
  }
}
/* line 159, ../sass/sections/_home.scss */
#subscribe-home p {
  background: black;
  color: white;
  position: relative;
  margin: 0 0 2% 0;
  text-transform: uppercase;
  padding: 4px 0;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 168, ../sass/sections/_home.scss */
#subscribe-home a {
  margin-bottom: 12px;
}
/* line 170, ../sass/sections/_home.scss */
#subscribe-home span:first-child {
  margin-bottom: 6px;
}
/* line 171, ../sass/sections/_home.scss */
#subscribe-home a {
  display: inline-block;
  color: #FFF;
  padding: 10px;
  width: 46%;
  font-size: 16px;
  font-size: 1.6rem;
  text-decoration: none;
  margin-right: 2%;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  /* line 171, ../sass/sections/_home.scss */
  #subscribe-home a {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
/* line 181, ../sass/sections/_home.scss */
#subscribe-home a:hover, #subscribe-home a:focus {
  background: #00aaff;
}
/* line 182, ../sass/sections/_home.scss */
#subscribe-home a span {
  font-weight: normal;
  margin: 3px 4px 0 0;
  font-size: 20px;
  font-size: 2rem;
}
@media (min-width: 480px) {
  /* line 182, ../sass/sections/_home.scss */
  #subscribe-home a span {
    font-size: 26px;
    font-size: 2.6rem;
  }
}

/* line 191, ../sass/sections/_home.scss */
.white-bg {
  background: #FFF;
}

/* line 195, ../sass/sections/_home.scss */
.sub-nav {
  background: none;
  padding: 10px 0;
  font-size: 0;
}
/* line 199, ../sass/sections/_home.scss */
.sub-nav a {
  background: #e1e1e1;
  color: #222222;
  padding: 10px;
  font-size: 12px;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 2px 2px 0;
}
/* line 207, ../sass/sections/_home.scss */
.sub-nav a:first-child {
  margin-bottom: 2px;
}
/* line 210, ../sass/sections/_home.scss */
.sub-nav a:last-child {
  margin-right: 0;
}
/* line 213, ../sass/sections/_home.scss */
.sub-nav a:hover, .sub-nav a:focus {
  background: #00aaff;
}

/* line 218, ../sass/sections/_home.scss */
#pagination {
  text-align: center;
  background: none;
  font-weight: bold;
  padding-top: 0;
}
/* line 223, ../sass/sections/_home.scss */
#pagination p {
  color: #fff;
  font-size: 28px;
  font-size: 2.8rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0;
  padding-top: 0;
}
/* line 230, ../sass/sections/_home.scss */
#pagination a, #pagination span {
  background: #e1e1e1;
  padding: 10px;
  text-decoration: none;
  line-height: 41px;
}
/* line 236, ../sass/sections/_home.scss */
#pagination a:hover {
  background: #00aaff;
  color: white;
}

/* line 241, ../sass/sections/_home.scss */
button#hide {
  color: #FFF;
  font-size: 12px;
  font-size: 1.2rem;
  position: absolute;
  top: 0px;
  right: 20px;
  background: #006699;
  border: none;
  text-transform: uppercase;
}
/* line 250, ../sass/sections/_home.scss */
button#hide span {
  font-size: 24px;
  font-size: 2.4rem;
  padding: 0;
  margin-top: 3px;
}

/* line 1, ../sass/sections/_single.scss */
.byline {
  float: right;
}

/* line 5, ../sass/sections/_single.scss */
.blogSocial .icons div {
  width: 18%;
  display: inline-block;
  text-align: center;
}
/* line 10, ../sass/sections/_single.scss */
.blogSocial .icons a {
  display: inline-block;
  color: #737373;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
/* line 19, ../sass/sections/_single.scss */
.blogSocial .icons a:hover, .blogSocial .icons a:focus {
  -webkit-transition: color 0.05s ease;
  -moz-transition: color 0.05s ease;
  -o-transition: color 0.05s ease;
  transition: color 0.05s ease;
}
/* line 21, ../sass/sections/_single.scss */
.blogSocial .icons a.itunes:hover, .blogSocial .icons a.itunes:focus {
  color: #333333;
}
/* line 26, ../sass/sections/_single.scss */
.blogSocial .icons a.rss:hover, .blogSocial .icons a.rss:focus {
  color: #ff8000;
}
/* line 31, ../sass/sections/_single.scss */
.blogSocial .icons a.twitter:hover, .blogSocial .icons a.twitter:focus {
  color: #03a6f1;
}
/* line 36, ../sass/sections/_single.scss */
.blogSocial .icons a.facebook:hover, .blogSocial .icons a.facebook:focus {
  color: #37548e;
}
/* line 41, ../sass/sections/_single.scss */
.blogSocial .icons a.google:hover, .blogSocial .icons a.google:focus {
  color: red;
}
/* line 45, ../sass/sections/_single.scss */
.blogSocial .icons a span {
  font-weight: normal;
  font-size: 42px;
  font-size: 4.2rem;
  display: block;
}

/* line 53, ../sass/sections/_single.scss */
.page {
  padding: 0 20px 20px 20px;
  background: #FFF;
  margin-bottom: 20px;
}

/* line 58, ../sass/sections/_single.scss */
#single {
  padding-top: 36px;
}
/* line 60, ../sass/sections/_single.scss */
#single header {
  position: relative;
}

/* line 64, ../sass/sections/_single.scss */
.social-share {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 4px 4px 0 0;
}
/* line 70, ../sass/sections/_single.scss */
.social-share a {
  text-decoration: none;
}

/* line 75, ../sass/sections/_single.scss */
article {
  position: relative;
  padding-top: 20px;
}
/* line 78, ../sass/sections/_single.scss */
article .powerpress_player {
  border-top: 1px solid white;
  background: #c8c8c8;
  bottom: 0;
  padding: 8px 8px 4px 8px;
  width: 100%;
  position: relative;
  top: 50%;
}
/* line 87, ../sass/sections/_single.scss */
article .wp-post-image {
  width: 100%;
}
/* line 90, ../sass/sections/_single.scss */
article .related-posts img {
  width: auto;
}
/* line 93, ../sass/sections/_single.scss */
article .powerpress-mejs-audio {
  margin: 0 auto;
  width: 100%;
}
/* line 97, ../sass/sections/_single.scss */
article .powerpress_links {
  font-size: 12px;
  font-size: 1.2rem;
  color: #222222;
  background: #c8c8c8;
  margin: 0;
  padding: 4px 8px;
  text-transform: uppercase;
}
/* line 104, ../sass/sections/_single.scss */
article .powerpress_links a {
  color: #222222;
  text-decoration: bold;
}
/* line 106, ../sass/sections/_single.scss */
article .powerpress_links a:hover {
  color: #00aaff;
}
/* line 110, ../sass/sections/_single.scss */
article .sub-nav {
  padding: 0;
  background: none;
  font-size: 0;
}
/* line 114, ../sass/sections/_single.scss */
article .sub-nav a {
  padding: 5px;
  background: #737373;
  background: pink !important;
  margin: 1px;
  font-size: 12px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #e1e1e1;
  display: block;
}
/* line 126, ../sass/sections/_single.scss */
article .match figure {
  padding: 8px;
  background: #ffddbb;
  border: 1px solid #ffd0a2;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
/* line 133, ../sass/sections/_single.scss */
article .match figure figcaption {
  font-weight: bold;
  color: #a65300;
  font-style: italic;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 20px 0 0 0;
}
/* line 142, ../sass/sections/_single.scss */
article header {
  position: relative;
  margin-top: 2%;
}
/* line 146, ../sass/sections/_single.scss */
article h1, article a.latest {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  background: rgba(166, 83, 0, 0.5);
  padding: 6px;
  position: absolute;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1em;
  -webkit-transition: background, 0.2s ease !important;
  -moz-transition: background, 0.2s ease !important;
  -o-transition: background, 0.2s ease !important;
  transition: background, 0.2s ease !important;
}
@media (min-width: 480px) {
  /* line 146, ../sass/sections/_single.scss */
  article h1, article a.latest {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) {
  /* line 146, ../sass/sections/_single.scss */
  article h1, article a.latest {
    font-size: 30px;
    font-size: 3rem;
  }
}
/* line 166, ../sass/sections/_single.scss */
article h3 span {
  font-weight: normal;
  margin-left: 10px;
}
/* line 169, ../sass/sections/_single.scss */
article h3 span[data-icon="T"] {
  font-size: 35px;
  font-size: 3.5rem;
}
/* line 174, ../sass/sections/_single.scss */
article h4 {
  font-size: 22px;
  font-size: 2.2rem;
}
/* line 177, ../sass/sections/_single.scss */
article img {
  margin-bottom: 0;
}
/* line 180, ../sass/sections/_single.scss */
article .meta {
  margin-top: 6%;
  font-weight: bold;
  color: #737373;
  padding: 4px 0 4px 8px;
  font-size: 16px;
  font-size: 1.6rem;
}
@media (min-width: 480px) {
  /* line 180, ../sass/sections/_single.scss */
  article .meta {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  /* line 180, ../sass/sections/_single.scss */
  article .meta {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
/* line 188, ../sass/sections/_single.scss */
article .meta time {
  margin-right: 20px;
}
/* line 191, ../sass/sections/_single.scss */
article .meta span {
  margin-right: 6.66667px;
  font-weight: normal;
}
/* line 195, ../sass/sections/_single.scss */
article .meta a {
  margin-right: 20px;
  color: inherit;
  border-bottom: none;
  text-decoration: none;
  font-size: inherit;
}
/* line 202, ../sass/sections/_single.scss */
article .meta a:hover {
  text-decoration: underline;
}

/* line 207, ../sass/sections/_single.scss */
.filter-nav {
  padding-top: 0;
  padding-bottom: 20px;
}
/* line 210, ../sass/sections/_single.scss */
.filter-nav a {
  display: block;
  text-align: center;
}
/* line 213, ../sass/sections/_single.scss */
.filter-nav a.show-hide-nav {
  background: gray;
  color: #FFF;
  font-size: 24px;
  font-size: 2.4rem;
  padding: 0;
}
/* line 220, ../sass/sections/_single.scss */
.filter-nav a:not(.show-hide-nav) {
  /*Hide all filter buttons except control button*/
  display: none;
}
/* line 222, ../sass/sections/_single.scss */
body.show-filter-nav .filter-nav a:not(.show-hide-nav) {
  /*Show all filter buttons*/
  display: inline-block;
}

/* line 228, ../sass/sections/_single.scss */
#related-posts figure {
  background: whitesmoke;
  width: 46.6%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}
/* line 236, ../sass/sections/_single.scss */
#related-posts figure:nth-child(odd) {
  margin-right: 0;
}
@media (min-width: 580px) {
  /* line 228, ../sass/sections/_single.scss */
  #related-posts figure {
    margin-right: 20px !important;
    width: 30%;
  }
  /* line 242, ../sass/sections/_single.scss */
  #related-posts figure:nth-child(3n+1) {
    margin-right: 0 !important;
  }
}
/* line 247, ../sass/sections/_single.scss */
#related-posts img {
  width: 100%;
  position: relative;
}
/* line 251, ../sass/sections/_single.scss */
#related-posts figcaption {
  padding: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  background: #ff8000;
  color: white;
  font-weight: bold;
  position: relative;
}
/* line 258, ../sass/sections/_single.scss */
#related-posts figcaption:hover {
  background: #00aaff;
  -webkit-transition: 0.2s ease-in !important;
  -moz-transition: 0.2s ease-in !important;
  -o-transition: 0.2s ease-in !important;
  transition: 0.2s ease-in !important;
}
/* line 262, ../sass/sections/_single.scss */
#related-posts figcaption:hover > span {
  color: #00aaff;
  -webkit-transition: 0.2s ease-in !important;
  -moz-transition: 0.2s ease-in !important;
  -o-transition: 0.2s ease-in !important;
  transition: 0.2s ease-in !important;
}
/* line 266, ../sass/sections/_single.scss */
#related-posts figcaption span {
  position: absolute;
  top: -0.7em;
  color: #ff8000;
  font-size: 38px;
  font-size: 3.8rem;
}
/* line 273, ../sass/sections/_single.scss */
#related-posts a {
  text-decoration: none;
}

/* line 2, ../sass/sections/_page.scss */
body.wp-page header {
  position: relative;
  margin-top: 0;
  padding-top: 0;
}
/* line 6, ../sass/sections/_page.scss */
body.wp-page header h1 {
  position: absolute;
  top: 0;
}

/* line 1, ../sass/sections/_cta.scss */
#cta-ad-250 {
  background: #FFF;
}
@media (min-width: 480px) {
  /* line 3, ../sass/sections/_cta.scss */
  #cta-ad-250 iframe {
    margin-left: 30%;
  }
}
@media (min-width: 768px) {
  /* line 3, ../sass/sections/_cta.scss */
  #cta-ad-250 iframe {
    margin-left: 0;
  }
}

/* line 14, ../sass/sections/_cta.scss */
#cta .listen-follow {
  padding-top: 40px;
}
/* line 17, ../sass/sections/_cta.scss */
#cta p, #cta li {
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 19, ../sass/sections/_cta.scss */
#cta .apple {
  background: #3c3c3c;
  border: 1px solid #555555;
}
/* line 59, ../sass/custom/_mixins_spv2.scss */
#cta .apple a {
  text-transform: lowercase;
}
/* line 60, ../sass/custom/_mixins_spv2.scss */
#cta .apple:hover, #cta .apple:focus {
  background: #151515 !important;
  background: #3c3c3c;
  padding-left: 15px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 22, ../sass/sections/_cta.scss */
#cta .android {
  background: #719900;
  border: 1px solid #97cc00;
}
/* line 59, ../sass/custom/_mixins_spv2.scss */
#cta .android a {
  text-transform: lowercase;
}
/* line 60, ../sass/custom/_mixins_spv2.scss */
#cta .android:hover, #cta .android:focus {
  background: #394d00 !important;
  background: #719900;
  padding-left: 15px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 25, ../sass/sections/_cta.scss */
#cta .blackberry {
  background: #023249;
  border: 1px solid #03547b;
}
/* line 59, ../sass/custom/_mixins_spv2.scss */
#cta .blackberry a {
  text-transform: lowercase;
}
/* line 60, ../sass/custom/_mixins_spv2.scss */
#cta .blackberry:hover, #cta .blackberry:focus {
  background: black !important;
  background: #023249;
  padding-left: 15px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 28, ../sass/sections/_cta.scss */
#cta .windows8 {
  background: #0076b2;
  border: 1px solid #0098e5;
}
/* line 59, ../sass/custom/_mixins_spv2.scss */
#cta .windows8 a {
  text-transform: lowercase;
}
/* line 60, ../sass/custom/_mixins_spv2.scss */
#cta .windows8:hover, #cta .windows8:focus {
  background: #004365 !important;
  background: #0076b2;
  padding-left: 15px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 31, ../sass/sections/_cta.scss */
#cta .facebook {
  background: #37548e;
  border: 1px solid #456ab3;
}
/* line 59, ../sass/custom/_mixins_spv2.scss */
#cta .facebook a {
  text-transform: lowercase;
}
/* line 60, ../sass/custom/_mixins_spv2.scss */
#cta .facebook:hover, #cta .facebook:focus {
  background: #223357 !important;
  background: #37548e;
  padding-left: 15px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 34, ../sass/sections/_cta.scss */
#cta .twitter {
  background: #03a6f1;
  border: 1px solid #2bbafc;
}
/* line 59, ../sass/custom/_mixins_spv2.scss */
#cta .twitter a {
  text-transform: lowercase;
}
/* line 60, ../sass/custom/_mixins_spv2.scss */
#cta .twitter:hover, #cta .twitter:focus {
  background: #0272a5 !important;
  background: #03a6f1;
  padding-left: 15px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 37, ../sass/sections/_cta.scss */
#cta .google {
  background: red;
  border: 1px solid #ff3333;
}
/* line 59, ../sass/custom/_mixins_spv2.scss */
#cta .google a {
  text-transform: lowercase;
}
/* line 60, ../sass/custom/_mixins_spv2.scss */
#cta .google:hover, #cta .google:focus {
  background: #b30000 !important;
  background: red;
  padding-left: 15px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 40, ../sass/sections/_cta.scss */
#cta .rss {
  background: #ff8000;
  border: 1px solid #ff9933;
}
/* line 59, ../sass/custom/_mixins_spv2.scss */
#cta .rss a {
  text-transform: lowercase;
}
/* line 60, ../sass/custom/_mixins_spv2.scss */
#cta .rss:hover, #cta .rss:focus {
  background: #b35a00 !important;
  background: #ff8000;
  padding-left: 15px;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 45, ../sass/sections/_cta.scss */
#donate {
  padding-top: 20px;
  border: 2px solid #E39A46;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #faefaa), color-stop(100%, #ffbe3a));
  background-image: -webkit-linear-gradient(#faefaa 40%, #ffbe3a);
  background-image: -moz-linear-gradient(#faefaa 40%, #ffbe3a);
  background-image: -o-linear-gradient(#faefaa 40%, #ffbe3a);
  background-image: linear-gradient(#faefaa 40%, #ffbe3a);
}
/* line 49, ../sass/sections/_cta.scss */
#donate h2 {
  margin-top: 0;
}
/* line 52, ../sass/sections/_cta.scss */
#donate form {
  text-align: center;
}
/* line 54, ../sass/sections/_cta.scss */
#donate form select {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'open sans', serif;
  margin-bottom: 20px;
}
/* line 59, ../sass/sections/_cta.scss */
#donate form .pp-but {
  display: block;
  margin: 0 auto;
  margin-top: 6px;
}

/* line 67, ../sass/sections/_cta.scss */
#socialise {
  padding-top: 36px;
  padding-bottom: 0;
  font-size: 0;
}
/* line 71, ../sass/sections/_cta.scss */
#socialise a {
  display: inline-block;
  color: #FFF;
  margin-bottom: 20px;
  padding-left: 10px;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'open sans', serif;
  height: 60px;
  padding-top: 10px;
  margin-right: 2%;
  width: 48%;
}
@media (min-width: 768px) {
  /* line 71, ../sass/sections/_cta.scss */
  #socialise a {
    width: 100%;
    margin-right: 0;
  }
}
/* line 89, ../sass/sections/_cta.scss */
#socialise a:hover, #socialise a:focus {
  background: #00aaff;
}
/* line 93, ../sass/sections/_cta.scss */
#socialise span {
  font-weight: normal;
  font-size: 80px;
  font-size: 8rem;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  height: 68px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  -o-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
}
@media (min-width: 768px) {
  /* line 93, ../sass/sections/_cta.scss */
  #socialise span {
    font-size: 65px;
    font-size: 6.5rem;
  }
}

/* line 1, ../sass/sections/_sidebar.scss */
#newsnow {
  padding: 10px;
}

/* line 2, ../sass/sections/_sidebar.scss */
#newsnowlogo {
  text-align: center;
  margin-top: 20px;
}
/* line 6, ../sass/sections/_sidebar.scss */
#newsnowlogo a {
  font-size: 12px;
  font-size: 1.2rem;
  color: #fff;
}
/* line 9, ../sass/sections/_sidebar.scss */
#newsnowlogo a:hover {
  text-decoration: underline !important;
}
/* line 13, ../sass/sections/_sidebar.scss */
#newsnowlogo img {
  margin: 0 auto;
}

/* line 18, ../sass/sections/_sidebar.scss */
#catalogue {
  padding-top: 14px;
}
/* line 20, ../sass/sections/_sidebar.scss */
#catalogue nav {
  font-size: 0;
  margin: 20px 0;
}
/* line 23, ../sass/sections/_sidebar.scss */
#catalogue nav a {
  color: #FFF;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1.6rem;
  width: 32.65%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  position: relative;
}
/* line 33, ../sass/sections/_sidebar.scss */
#catalogue nav a.tab-utp {
  background: #ca6500;
}
/* line 35, ../sass/sections/_sidebar.scss */
#catalogue nav a.tab-utp:hover {
  background: lighten #ca6500, 10%;
}
/* line 38, ../sass/sections/_sidebar.scss */
#catalogue nav a.tab-utp span {
  color: #ca6500;
}
/* line 40, ../sass/sections/_sidebar.scss */
#catalogue nav a.tab-sp {
  background: #a65300;
}
/* line 43, ../sass/sections/_sidebar.scss */
#catalogue nav a:nth-child(-n+2) {
  margin-right: 1%;
}
/* line 45, ../sass/sections/_sidebar.scss */
#catalogue nav a span {
  position: absolute;
  font-size: 40px;
  font-size: 4rem;
  bottom: -32px;
  left: 30%;
  overflow: hidden;
}

/* line 57, ../sass/sections/_sidebar.scss */
#sidebar {
  float: right;
}
/* line 61, ../sass/sections/_sidebar.scss */
#sidebar p, #sidebar li, #sidebar a {
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 62, ../sass/sections/_sidebar.scss */
#sidebar h2 {
  margin: 20px 0;
}
/* line 65, ../sass/sections/_sidebar.scss */
#sidebar ul {
  padding-left: 0;
}
/* line 68, ../sass/sections/_sidebar.scss */
#sidebar li {
  list-style: none;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0;
  margin-bottom: 0;
  padding-left: 12px;
  background: #fff;
}
/* line 76, ../sass/sections/_sidebar.scss */
#sidebar li:last-child {
  border-bottom: none;
}
/* line 80, ../sass/sections/_sidebar.scss */
#sidebar #side-ad img {
  margin: 0 auto 0 auto;
}
/* line 84, ../sass/sections/_sidebar.scss */
#sidebar a {
  text-decoration: none;
}
/* line 88, ../sass/sections/_sidebar.scss */
#sidebar #live .on-air {
  background: rgba(34, 34, 34, 0.85);
  color: #FFF;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
}
/* line 98, ../sass/sections/_sidebar.scss */
#sidebar .itunes {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 60%;
}
