#cta-ad-250 { 
	background: #FFF;
	iframe {
		@include breakpoint(480) {
			margin-left:30%;
		}
			@include breakpoint(768) {
			margin-left:0;
		}
	}
}
 
#cta { 
	.listen-follow {
		padding-top: $padding*2;
	}
	p, li { @include font-size(1.4);} 

	.apple {
		@include cta-block($apple);	
	}		
	.android {
		@include cta-block($android);	
	}
	.blackberry {
		@include cta-block($blackberry);
	}
	.windows8 {
		@include cta-block($windows8);	
	}
	.facebook {
		@include cta-block($facebook);	
	}
	.twitter {
		@include cta-block($twitter);	
	}
	.google {
		@include cta-block($google);	
	}
	.rss {
		@include cta-block($rss);	
	}
}

#donate {
	padding-top: $padding;
	border:2px solid #E39A46;
	@include background-image (linear-gradient($lightYellow 40%, $darkYellow));
	h2 {
		margin-top: 0;
	}
	form {
		text-align:center;
		select {
			@include font-size(1.4);
			@include font-stack-body;
			margin-bottom: $padding;
		}
		.pp-but { 
			display: block;
			margin: 0 auto;
			margin-top: 6px;
		}
	}
}

#socialise {
	padding-top: $padding*1.8;
	padding-bottom: 0;
	font-size: 0;
	a {
		display: inline-block;
		color: #FFF;
		margin-bottom: $padding;
		padding-left: 10px;
		text-decoration :none;
		position: relative;
		@include font-size(1.6);
		font-weight: bold;
		@include font-stack-body;
		height: 60px;
		padding-top: 10px;
		margin-right: 2%;
		width: 48%;
		@include breakpoint(768) {
			width: 100%;
			margin-right: 0;
		}
		&:hover, &:focus {
			background: $hover;
		}
	}	
	span {
		font-weight: normal;
		@include font-size(8);
		@include breakpoint(768) {
			@include font-size(6.5);
		}
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
		height: 68px;
		color: rgba(white, 0.30);
		@include transition(font-size 0.2s ease);	
	}
}		

