.top-banner {
	background: black;
	padding: $padding/4 $padding $padding $padding ;
	p  {
		margin: 0;
		color: #fff;
		@include font-stack-headers;
		text-transform: uppercase;
		@include font-size(3.8);
		@include breakpoint(768) {
			padding-left: 1em;
		}
		@include breakpoint(1540) {
			padding-left: 1.3em;
		}
	}
}
.strapline {
	display: block;
	text-shadow: none!important;
	color: $colour-primary;
	padding-left:0;
	@include font-size(2.0);
	line-height:0.1em;

}	
.tower-logo {
	text-indent: 50000px;
	font-weight: normal;
	@include font-size(3.2);;
	padding: 0 3px 0 2px;
	color: $colour-primary;
}
