@font-face {
    font-family: 'Spodv2';
    src: url('../fonts/spodv2.eot');
    src: url('../fonts/spodv2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/spodv2.woff') format('woff'),
         url('../fonts/spodv2.ttf') format('truetype'),
         url('../fonts/spodv2.svg#spodv2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mixin font-stack-icons {
	font-family: 'Spodv2';
}
 