/** NO LONGER USED.  SAVED FOR FUTURE REFERENCE THO **/

.partner {
	background: #000;
	&:before { 
		@include module-header-before($partner);
	}
	&:after {
		content: "Partner";
		@include module-header-after;
	}
}

.archives {
	&:before { 
		@include module-header-before($archives);
	}
	&:after {
		content: "Archives";
		@include module-header-after;
	}
}