/* LAYOUT */
$padding: 20px;
$gutter: 2%;
$marginBottom: 3px;
$navButtonHeight: 24px;
$width: 100%;
$widthMid: 95%;
$blogH3: 2.0; 

/* COLOURS */
$copy: #333;

$base: #FF8000; 

$orange: #FF8000;
$darkOrange: #A65300; 
$lightOrange: #FFDDBB;
$darkGrey: #222222;
$midGrey: #737373;
$lightGrey: #E1E1E1;
$lighterGrey: #D9D9D9; 
$windows8: #0076b2; 
$apple: lighten($darkGrey,10%);
$android: darken(#97CC00,10%);
$blackberry: #023249;
$rss: #FF8000;
$twitter: #03a6f1;
$facebook: #37548e;
$google: red; 
$howToSubscribe: darken(#999, 20%); 

$lightYellow: #FAEFAA; 
$darkYellow: #FFBE3A;
$bannerAdBak: #000;
$bannerAdBorder: #BAC41C;
$post: #F43E00;
$podcast: lighten($darkOrange, 10%);
$utp: lighten($darkOrange,7%);
$sp: $orange;
$partner: #333;
$archives: #ffaa00;
$tab: #eaeaea;


/* LINKS */
$link: #005D8C;
$hover: #00aaff;
$active: darken(#00aaff, 20%);








	
